:root {
    font-size: 62.5%;
}

body {
    background: black;
    width: 97%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

iframe {
    border: double 0.4rem white;
    width: 90%;
    height: 100%;
}

footer button {
    background: red;
    font-size: 3rem;
    border: double 0.6rem white;
    border-radius: 2rem;
}

footer button a {
    text-decoration: none;
    color: white;
}

footer button.Próximo, footer button.Anterior {
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border-radius: 0;
}

@media (min-width: 321px) {
    iframe {
        width: 90%;
        height: 20rem;
    }
}

@media (min-width: 400px) {
    iframe {
        width: 90%;
        height: 25rem;
    }
}

@media (min-width: 500px) {
    iframe {
        width: 90%;
        height: 30rem;
    }
}

@media (min-width: 631px) {
    iframe {
        width: 90%;
        height: 35rem;
    }
}

@media (min-width: 690px) {
    iframe {
        width: 90%;
        height: 40rem;
    }
}

@media (min-width: 769px) {
    iframe {
        width: 90%;
        height: 45rem;
    }
}

@media (min-width: 894px) {
    iframe {
        width: 90%;
        height: 50rem;
    }
}

@media (min-width: 920px) {
    iframe {
        width: 90%;
        height: 55rem;
    }
}

@media (min-width: 1020px) {
    iframe {
        width: 90%;
        height: 60rem;
    }
}

@media (min-width: 1150px) {
    iframe {
        width: 90%;
        height: 65rem;
    }
}

@media (min-width: 1251px) {
    iframe {
        width: 90%;
        height: 70rem;
    }
}

@media (min-width: 1401px) {
    iframe {
        width: 90%;
        height: 75rem;
    }
}

@media (min-width: 1680px) {
    iframe {
        width: 90%;
        height: 80rem;
    }
}