:root {
    font-size: 62.5%;
    --background: #130f1a;
    --shadow: #522994;
}

body {
    width: 97%;
    height: 100%;
    background: var(--background);
}

header {
    font: Arial bold;
    font-size: 2rem;

    border: double 0.4rem white;
    margin: 1.4rem;
    display: flex;
    gap: 25%;
    align-items: center;
}

header h1 {
    color: var(--background);
    text-shadow: -0.2rem -0.2rem 0 var(--shadow), 0.1rem -0.1rem 0 var(--shadow), -0.2rem 0.2rem 0 var(--shadow), 0.1rem 0.1rem 0 var(--shadow);
    margin-left: 1%;
    font-size: xx-large;
}

header h1 img {
    background: transparent;
    width: 6%;
    height: 8%;
}

header ul {
    display: flex;
    gap: 10%;
}

header ul button {
    background-color: transparent;
    border: none;
}

header ul button a {
    color: var(--shadow);
    font-size: 2rem;
    text-decoration: none;
}

div.Novidades {
    border: double 0.4rem white;
    margin: 1.4rem;

    font-size: 1.4rem;
    color: white;

    box-sizing: border-box;
    padding: 0.4rem;

    display: flex;
    align-items: center;
    gap: 2rem;
}

div.Novidades img {
    width: 17rem;
    height: 18.9rem;
    border: solid 0.2rem white;
}

div.MsMarvel {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.Naruto {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.Ratatouille {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.CasteloAnimado {
    display: flex;
    flex-direction: column;
    text-align: center;
}